@import "variables";

body {
    color: #fff;
}

main {
    padding: 20px;
    margin-top: 60px;
}

.logo {
    padding: 20px;
}

.btn svg {
    height: $font-size-base;
    vertical-align: middle;
}

.lead {
    text-align: center;
}

.center {
    display: block;
    margin: 0 auto;
}

.center > .btn,
.logo {
    display: block;
    margin: 0 auto;
}

.btn {
    width: auto !important;
}

.icon {
    height: 16px;
}

#logo {
    width: 1.25rem;
    height: 1.25rem;
    vertical-align: middle;
    margin-top: -3px;
    margin-right: 8px;
}

footer a svg {
    height: 14px;
}

li svg {
    height: 16px;
    color: #fff;
}