@media(min-width:800px) {
    .center {
        width: 50%;
    }
}

@media(max-width:800px) {
    form[role="search"] {
        margin: 0 auto;
        margin-top: 20px;
    }
    main {
        margin-top: 116px;
    }
}