@import "variables";

.status {
    margin: 10px;
    padding: 10px;
}

.attachment {
    vertical-align: middle;
    padding: 10px;
}

.attachments {
    background: lighten($gray-900, 5%);
    text-align: center;
    border-radius: 4px;
    margin-top: 30px;
}

a .invisible {
    visibility: visible !important;
}

.bg-darker {
    background: darken($gray-900, 5%);
}

.emoji {
    height: 16px;
    width: auto;
}

.status-content > .attachment {
    display: none;
}

#file {
    background-image: none !important;
}