---
import Icon from "astro-icon";
import menu from "../../json/menu.json";
---

<nav class="navbar navbar-expand-lg navbar-dark bg-darker fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/timeline/home"><img src="/logo.png" id="logo" alt="Logo"> litterbox</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            {menu.map((item) => (
                <li class="nav-item"><a href={`/${item.page}`} class="nav-link" id={`nav-${item.page.replaceAll("/", "--")}`}>{item.name}</a></li>
            ))}
            <li class="nav-item"><a href="/follow_requests" class="nav-link" id="nav-follow_requests">Follow requests</a></li>
        </ul>
    </div>
    <form action="/search" method="GET" class="d-flex" role="search">
      <div class="input-group">
        <input class="form-control" name="q" id="query" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-primary" type="submit"><Icon name="bi:search" /></button>
      </div>
      <a href="/action/post" class="btn btn-primary" style="margin-left:8px;"><Icon name="bi:pencil-fill" /></a>
    </form>
  </div>
</nav>
<script src="../../ts/ui/menu.ts"></script>